.messages{
	display: flex;
	display: row;
	padding: 20px;
}

.personList{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.contact{
	margin-bottom: 20px;
	color: #b5bac1;
	text-decoration: none;
}

.messageUserName{
	font-weight: bold;
	font-size: 17px;
}

.messageText{
	margin-left: 20px;
}