body{
  margin: 0;
  background: #313338;
  color: #b5bac1;
}

.wrapper{
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: "header header"
  "navbar profile";
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}

.wrapper > div{
  border-radius: 15px;
  background: #232428;
}
